<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>

<style>
    body {
        font-family: 'Quicksand', sans-serif;
    }

    .bg-custom {
        background: #FBE0DC;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 20px 20px 10px 10px;
        width: 100px;
    }

    .bg-btn {
        background: #F7C531;
        border-radius: 30px 30px 10px 10px;
        width: 180px;
    }

    .font-46 {
        font-size: 46px;
    }

    .font-22 {
        font-size: 22px;
    }
</style>
<body>

    <nav class="navbar py-4 navbar-expand-lg navbar-light">
        <div class="container">
            <div class="d-flex ">
                <img src="burger.png" width="40" alt="">
                <a class="navbar-brand px-2" href="/">
                    GET FOOD
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <a class="navbar-brand bg-custom font-weight-bold text-center" href="/register" role="button">Sign
                        Up</a>
                </ul>
            </div>
        </div>
    </nav>
    <section class="herobwa mt-5">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <h1 class="mb-4 font-46">
                        Eat What You Cook
                        With Us, Together!
                    </h1>
                    <p class="mb-4 font-22 font-weight-normal">
                        When you eat something that make
                        you happiness is priceless.
                    </p>
                    <a class="btn bg-btn font-weight-bold" href="/register" role="button">Get Started</a>
                </div>
                <div class="col d-none d-sm-block">
                    <img width="600" src="video.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>