<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div style="display: flex; flex-direction: column;">
        <a href="/login/form">Login</a>
        <span>Click this if you dont have account</span>
        <a href="/login/register">Register</a>
    </div>
</body>
</html>